<p><b>Établissement :</b></p>
<p><b>Nom de l'Établissement :</b> {{forfait?.etablissement?.nom_etablissement}}</p> 
<p><b>Coordonnées :</b></p> 
<p><b>Adresse :</b>{{forfait?.etablissement?.coordonnees?.adresse}}</p>
<p><b>Ville :</b> {{forfait?.etablissement?.coordonnees?.ville}}</p> 
<p><b>Téléphone :</b> {{forfait?.etablissement?.coordonnees?.telephone}}</p>
<p><b>Courriel :</b> {{forfait?.etablissement?.coordonnees?.courriel}}</p>
<p><b>Site Web :</b> {{forfait?.etablissement?.coordonnees?.site_web}}</p>



